.photos {
    animation: splash 7s alternate infinite;
}

@keyframes splash {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}
